<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
    <div class="container">
        <!-- Brand Name with Custom Font -->
        <a routerLink="home" class="navbar-brand d-flex logo-link" style="font-family: 'Roboto', sans-serif; font-weight: bold;">
            <img src="../../../public/assets/images/icons/logo.png" alt="" class="logo">Roomzy
        </a>

        <!-- Navbar Toggler Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links (collapsible in small screens) -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- Home Link with Icon -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active"><i class="fas fa-home"></i> Home</a>
                </li>

                <!-- Recipes Link -->
                <li class="nav-item" *ngIf="logined">
                    <a class="nav-link" routerLink="allhotels" routerLinkActive="active">
                        <i class="fa-solid fa-hotel"></i>All Hotels
                    </a>
                </li>

                <!-- About Us Link -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="aboutus" routerLinkActive="active">
                        <i class="fas fa-info-circle"></i> About Us</a>
                </li>

                <!-- Contact Us Link -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="contactus" routerLinkActive="active">
                        <i class="fas fa-phone"></i> Contact Us</a>
                </li>

         

                <!-- Sign Up Link -->
                <li class="nav-item" *ngIf="!logined">
                    <a class="nav-link" routerLink="register" routerLinkActive="active">
                        <i class="fa-solid fa-right-to-bracket"></i> Sign Up
                    </a>
                </li>

                <!-- Login Link -->
                <li class="nav-item" *ngIf="!logined">
                    <a class="nav-link" routerLink="login" routerLinkActive="active">
                        <i class="fa-solid fa-right-to-bracket"></i> Login
                    </a>
                </li>

                <!-- Log Out Button (inside collapsible menu) -->
                <li class="nav-item" *ngIf="logined">
                    <button (click)="logOut()" class="btn btn-outline-danger rounded-pill nav-link">
                        Log Out <i class="fa-solid fa-right-from-bracket"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
