<body class="pt-5">
    <div class="container ">
      <!-- Search Input -->
      <div class="row mb-4">
        <div class="col-md-8 mx-auto">
          <div class="position-relative">
            <input type="text" [(ngModel)]="searchTerm" class="form-control search-input" placeholder="Search hotels...">
            <i class="fa fa-search search-icon"></i>
          </div>
        </div>
      </div>
      
      <!-- hotels Cards -->
      <div class="row justify-content-center">
        <div class="col-md-4 mb-4" *ngFor="let hotel of filteredHotels()">
          <div class="card shadow-sm border-0 rounded-lg h-100 overflow-hidden position-relative product-card">
            <div class="image-container">
              <img [src]="hotel?.image || 'default-image.jpg'" class="card-img-top product-image" alt="{{ hotel?.name || 'hotel' }}">
              <div class="overlay">
                <p class="overlay-text">Cuisine: {{ hotel.cuisine }}</p>
                <p class="overlay-text">Calories: {{ hotel.caloriesPerServing }} kcal</p>
                <p class="overlay-text">Prep Time: {{ hotel.prepTimeMinutes }} mins</p>
                <p class="overlay-text">Cook Time: {{ hotel.cookTimeMinutes }} mins</p>
              </div>
            </div>
            <div class="card-body d-flex flex-column text-center p-4">
              <h5 class="card-title">{{ hotel.name }}</h5>
              <button class="btn btn-primary mt-auto mx-auto rounded-pill px-4 py-2 text-uppercase product-btn"
                      [routerLink]="['/recipe', hotel.id]">
                      <i class="fas fa-eye"></i>  View hotel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </body>